.app:has(.board__overlay--visible) :where(
    .card--next-piece,
    .difficulty-indicator,
    .touch-controls
) {
    display: none;
}

.app__board {
    padding-top: calc(var(--safe-t) + var(--fab-row-h));
    padding-bottom: calc(var(--touch-bar-h) + var(--safe-b));
}

.options__group--advanced,
.options__preview-button--reset-controls,
.options__group--mouse {
    display: none;
}

.options__row:has(.options__preview-button--keybind-reset),
.options__row:has([data-role="hud-right-checkbox"]) {
    display: none;
}

.options__group--keyboard {
    border: none;
    padding: 0;

    & > summary {
        display: none;
    }

    & > .controls__list--touch {
        display: flex;
    }
}